.App {
  text-align: center;
  
}

.App-logo {
  animation: App-logo-spin infinite 15s linear;
  height: 1vmin;
  pointer-events: none;
  display: flex;
  justify-content: space-between;
  align-content: ;
  
}

body {
  background-image: radial-gradient(circle, #172459, #10214e, #0b1d44, #071939, #06152f, #06132b, #051026, #030d22, #030d22, #030d22, #030d22, #030d22);
}

.App-header {
  background-color: #140233;
  
  
  border-top: 1px solid #ffd400;
  border-radius: 20% ;
  width: 59%;
  margin: auto;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.5), -4px 4px 6px rgba(0, 0, 0, 0.5);
}

.retro {
  text-align: center;
  color: #D41BB9;
  padding: 0;
  margin-top: -2%;
}

.App-header-two {
  background-color: #282c34;
  
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.liftUp {
  background-color: #030d22;
  background-image: linear-gradient(to right top, #030d22, #172459, #4c338f, #9534bb, #ea00d9);
  
  border-radius: 1%;
 
  
  z-index: 10000;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.wrap {
  display: flex;
  justify-content: center;
}
.stubborn {
 padding: 2% 0;
 margin-left: -10%;

}

.title {
  z-index: 10001;
  padding: 0;
  margin: 0;
  color: #ffd400;
  
}

.imgs {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
  padding: 0;
}

.nasa {
  width: 15%;
  align-self: flex-start;
  margin-left: -20%;
  margin-right: -6%;
  margin-top:-4% ;
}


#bottom {
  font-size: .9rem;
  text-align: center;
  border-radius: 50%;
  color: #0ab2fa;
  width: 89%;
  padding: 2% 0;

}

#bot {
  
}



@keyframes App-logo-spin {
  
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
